/* InfoModal.module.css */
.modal {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.1);
    overflow: hidden;    /* 절대 부모는 스크롤 없애기 */
    z-index: 9999;
}

.container {
    width: 500px;
    max-width: 90vw;
    max-height: 80vh;    /* 혹은 80dvh */
    overflow-y: auto;
    background: #fff;
    border-radius: 20px;
    padding: 50px;
    box-sizing: border-box;
}

